/* ==================ABC Kids Book=======================*/

@font-face {
    font-family:sweetcherry ;
    src:url(./assets/fonts/SweetCherry/SweetCherryFree.otf);
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.book_cover {
     border: 5px ridge brown; 
    width: 40%;
    margin: 70px auto;
    box-shadow: 5px 5px 10px;
}

.top_heading {
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    padding: 20px;
    background: #b004f4;
    background: -webkit-linear-gradient(to right,#b004f4  , #eeec77);
    background: linear-gradient(to right, #b004f4,#eeec77);
}
.top_heading h1 {
    text-align: center;
    margin: 32px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 36px;
}
.main_heading {
    text-align: center;
}
.main_heading h2, h3 {
    font-size: 76px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}
.main_heading h3 {
    font-family: sweetcherry ;
    color: #eea11d;
}
.main_heading h2, h3 {
    font-size: 74px;
    text-align: center;
    font-family:cursive;
    color: red;
}
.main_heading h3 {
    font-family: sweetcherry ;
    color: #eea11d;
}
.buttons {
    text-align: center;
}
.buttons img {
    width: 35%;
}
.center_img {
    text-align: center;
}
.center_img img {
    width: 80%;
}

